$colorado: #cc3434;
$gris: #444;

body {
    color: black;
}

.servicios__flex {
    color: #3c3c3c;
}

h2 {
    color: #4f4f4f;
}

.footer__area2 {
    background-color: rgba(255, 176, 29, 0.692);
}

.footer__area1 {
    background-color: rgba(207, 205, 205, 0.685);
}

.header__box--imagen {
    color: white;
}

.servicios__soporte {
    background-color: rgb(255, 217, 136);
}

.servicios__hosting {
    background-color: #F76C5E;
    color: white;
    h2 {
        color: white;
    }
}

.quienessomos__grilla__titulo {
    background-color: lightblue;
}

.quienessomos__grilla__vision {
    background-color: rgba(255, 166, 0, 0.151);
}
.quienessomos__grilla__mision {
    background-color: rgba(255, 0, 0, 0.158);
}

.quienessomos__grilla__texto {
    color: #757575;
}

.texto {
    color: #757575;
}

.noticias__grilla__links {
    background-color: #ffc964b9;
}

.noticias__grilla {
    background-color: rgba(207, 205, 205, 0.685);
}

.noticias__grilla__1 {
    background-color: white;
}

.noticias__grilla__2 {
    background-color: white;
}
.noticias__grilla__3 {
    background-color: white;
}

.noticias__grilla__links a {
    color: rgb(109, 135, 173);
}

.bigicon {
    font-size: 35px;
    color: #494949;
}